.container{
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
 
  
}


.input{
  width: 80%;
  padding: 15px;
  font: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.weather-data {
  background-image: url("./images/colddd.jpg");
  background-size: cover; 
  background-position: bottom;
  transition: 0.4 ease-out;
  display: flex;
 flex-direction: column;
 width: 80%;
 border: black 2px ;
 margin: 20px;
 border-radius: 20px;
}

  .weather-data.warm{
    background-image: url("./images/hot.jpg");
    display: flex;
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .city{
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  
}

.temp {
  font-size: 60px;
  padding: 10px;
  border-radius: 12px;
  color: white;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
}


.box{
  text-align: center;
  color: white;
  text-shadow: 3px  rgba(50, 50, 70, 0.5);
  

}
